html, body {
  margin: 0;
  height: 100%;
}
.container{
    display: block;
 
}
.menu{
    float: left;
    padding-left: 2%;
    padding-top: 20px;
    background-color: white;
    margin: auto;
    width: 15%;
    border-right: 0.5px solid #E5E7EB;
    height:100vh;
    justify-content: left;
    align-items: center;
    position: relative;
   
}

.profile {
    padding: 5px;
    margin: 10px;
    display: inline-block;
    justify-content: left;
    align-items: center;
   
}

#image-profile{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.circular-square { 
   background-size: contain;
   width: 50px; 
   height: 50px; 
   overflow: hidden; 
   border-radius: 50%; 
   float: left;
} 

.title-profile {
    margin-left: 10px;
    float: left;
    font-family: Arial;
    font-weight: 600;
    font-size: 14px;
    color: #1A2238;
}

.nav{
    margin: 20px;
    margin-top: 50px;
}

.nav-item{
    margin-bottom: 60px;
}

.nav-title{
    color: #5484E9;
    font-family: Arial;
    font-weight: 500;
    font-size: 14px;
}

.nav-element{
    list-style-type: none;
    padding: 0;
}

.child-nav-element{
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #8C92A5
}

.nav-icon{
    width: 20px; 
    height: 20px;
    margin-right: 15px;
}

a{
  color: #8C92A5;
  text-decoration: none;
  font-family: Arial;
  font-weight: 500;
  font-size: 14px;
}

a:hover { 
    color: #5484E9;
 }

.main{
    display: block;
    float: right;
}

.header{
    height: 100px;
    background-color: white;
    border-bottom: 0.5px solid #E5E7EB;
}

.search-header{
   top: 50%;
   transform: translateY(-50%);
   width: 20px; 
   height: 20px;
   margin-left: 3%;
   float: left;
   position: relative;
}

.header-right-options{
    top: 50%;
    transform: translateY(-50%);
    margin-right: 3%;
    float: right;
    position: relative;

}

.right{
    width: 20px; 
    height: 20px;
    margin-right: 15px;
}

.principal{
    height: 900px;
    background-color: #F5F7FB;
    height:100vh;
    
}

.title-of-main{
    padding-top: 50px;
    margin-right: 3%;
    position: relative;
   
}

#title{
    font-size: 24px;
    font-family: Arial;
    font-weight: 500;
    color: #1A2238;
    top: 50%;
    float: left;
    position: relative;
    padding-left: 3%;
}

.button {
    font-family: Arial;
    font-weight: 600;
    border: none;
    color: white;
    background-color: #5484E9;
    border-radius: 25px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    float: right;
    top: 50%;
    position: relative;
    
  }

.button:hover{
    padding: 17px 42px;
}

.infos{
    margin-top: 60px;
    margin-left: 3%;
    display: block;
    width: 78%;
    float: left;
    
}

.general-component{
    background-color: white;
    height: 150px;
    width: 22.5%;
    border: 0.5px solid #E5E7EB;
    float: left;
    position: relative;
    margin-right: 30px;
    
}

.component{
    position: absolute;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    top: 50%;
    margin: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-component{
    float: left;
    position: relative;
    margin-right: 20px;
    width: 30px; 
    height: 30px;
    padding-top: 10px;
}

.texts{
    float: left;
    position: relative;
}

.number{
    font-size: 30px;
    font-family: Arial;
    font-weight: 500;
    color: #1A2238;
    margin: 0;
    margin-bottom: 3px;
}

p{
    margin: 0;
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    color: #8C92A5;
}

.box-chart{
    margin-top: 60px;
    margin-left: 3%;
    width: 75%;
    height: 400px;
    display: inline-block;
    background-color: white;
    border: 0.5px solid #E5E7EB;

}

#charts{
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    height: 90%;
    margin-left: 3%;
    position: relative;
    display: inline-block;
}

#pie{
    width: 30%;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    position: relative;
}

